*~
.DS_Store
+*#
.#*
*.swp
._*

admin/config/database.yml
admin/db/schema.*
admin/tmp/[^.]*
admin/log/[^.]*

application/config/database.yml
application/config/selenium.yml
application/db/schema.*
application/tmp/[^.]*
application/log/[^.]*

conversion/tmp/[^.]*
conversion/log/[^.]*
conversion/coverage

upload/tmp/[^.]*
upload/log/[^.]*

download/tmp/[^.]*
download/log/[^.]*

storage/[^.]*

facebook/tmp/[^.]*
facebook/log/[^.]*

parkplace/log/[^.]*

shared/tmp/[^.]*
shared/coverage

*.cache
nohup.out

.todo

hostname.yml
TAGS

*.o